body {
    font-family: 'Arima', sans-serif;
    background: linear-gradient(to right, #a0d9d9, #f7c8e0); /* De verde agua a rosa pastel */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    box-sizing: border-box;
    overflow: hidden;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
    width: 90%;
    max-width: 400px;
    height: auto;
    min-height: 250px;
    text-align: center;
    margin: 0;
}

h2, h3 {
    font-family: 'Cormorant', serif;
    color: #3b8d8b; /* Verde agua oscuro */
    margin-bottom: 10px;
    font-size: 1.4em;
}

.button-success {
    background: linear-gradient(to right, #3b8d8b, #f7a6b4); /* Verde agua a rosa pastel */
    color: #fff;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-top: 10px;
    width: 100%;
}

.button-success:hover {
    background: linear-gradient(to right, #2c7070, #e088a5); /* Más intensos en hover */
}

.button-login {
    background-color: #3b8d8b; /* Verde agua */
    color: #fff;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-top: 10px;
    width: 100%;
}

.button-login:hover {
    background-color: #2c7070; /* Verde agua oscuro */
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #a0d9d9;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #3b8d8b;
    outline: none;
}

.form-group select {
    background-color: #f0fcfc; /* Suave verde agua */
    color: #333;
}

.already-have-account a {
    color: #f7a6b4; /* Rosa pastel */
    text-decoration: none;
}

.custom-alert {
    background-color: #f783ac; /* Rosa más oscuro */
}

@media (min-width: 768px) {
    .login-container {
        padding: 20px;
        min-height: 300px;
    }
}


